<main class="contact-main">
    <section class="header">
        <h1>Messages</h1>
        <a href=""><i></i></a>
    </section>
    <section class="search">
        <div class="search-container">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><img src="https://cdn-icons-png.flaticon.com/512/3031/3031293.png" alt=""></button> 
        </div>
    </section>
    <section class="contact-content">
        <app-chat-item [chatterName]='"Tobias"'></app-chat-item>
        <app-chat-item [chatterName]='"Andreas"'></app-chat-item>
        <app-chat-item [chatterName]='"Katharina"' [class]="chatItemClass"></app-chat-item>
        <app-chat-item [chatterName]='"Hilde"'></app-chat-item>
        <app-chat-item [chatterName]='"Chris"'></app-chat-item>
        <app-chat-item [chatterName]='"Sophie"'></app-chat-item>
        <app-chat-item [chatterName]='"Max"'></app-chat-item>
        <app-chat-item [chatterName]='"Cornelius-Justus"'></app-chat-item>
        <app-chat-item [chatterName]='"Phillip"'></app-chat-item>
        <app-chat-item [chatterName]='"Lil Baby"'></app-chat-item>
        <app-chat-item [chatterName]='"Drake"'></app-chat-item>
        <app-chat-item [chatterName]='"Pizza Hut"'></app-chat-item>
        <app-chat-item [chatterName]='"Tom"'></app-chat-item>
        <app-chat-item [chatterName]='"Wheezy"'></app-chat-item>
    </section>
</main>
