@import '../../styles.scss';

.profile-main {
    width: 25vw;
    height: 100%;
    background-color: $background;
    //border-right: $border;
}

.header {
    padding: $padding;
    border-bottom: $border;
    text-align: center;
}